<a href="https://colab.research.google.com/github/mkmritunjay/machineLearning/blob/master/DS_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Data Structures and Algorithms

### 1.1. Unpacking a sequence into separate variables

---
#### Q. You have N-element tuple or sequence that you would like to unpack into a collection of N variables.
---

In [0]:
# Any sequence or iterable can be unpacked into variables using a simple assignment operation. The only requirement is that the number of variables
# and structure match the sequence. For Example:
p = (4,5)
x,y = p
print('x is: {}'.format(x))
print('y is: {}'.format(y))

x is: 4
y is: 5

In [0]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]
name, shares, price, date = data
print('name is: {}'.format(name))
print('shares is: {}'.format(shares))
print('price is: {}'.format(price))
print('date is: {}'.format(date))

name is: ACME
shares is: 50
price is: 91.1
date is: (2012, 12, 21)

In [0]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]
name, shares, price, (year, month, day) = data
print('name is: {}'.format(name))
print('shares is: {}'.format(shares))
print('price is: {}'.format(price))
print('year is: {}'.format(year))
print('month is: {}'.format(month))
print('day is: {}'.format(day))

name is: ACME
shares is: 50
price is: 91.1
year is: 2012
month is: 12
day is: 21

In [0]:
# If there is a mismatch in the numbers of elements we will get an error. For example:
p = (4,5)
x,y,z = p

ValueError: ignored

---
Unpacking actually works with any object that happens to be iterable, not just tuples or lists. This includes strings, files, iterators and generators.

---

In [0]:
# Example:
s = 'Hello'
a, b, c, d, e = s
print('a is: {}'.format(a))
print('b is: {}'.format(b))
print('c is: {}'.format(c))
print('d is: {}'.format(d))
print('e is: {}'.format(e))

a is: H
b is: e
c is: l
d is: l
e is: o

---
When unpacking we may sometimes want to discard certain values. Python has no special syntax for this, but we can often just pick a throwaway variable name for it.

---

In [0]:
# Example:
data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]
_, shares, price, _ = data
print('shares is: {}'.format(shares))
print('price is: {}'.format(price))

# We need to make sure that the variable name we pick isn't being used for something else already.

shares is: 50
price is: 91.1

### 1.2. Unpacking Elements from Iterables of Arbitrary Length

---
#### Q. You need to unpack N elements from an iterable, but the iterable may be longer than N elements, causing a "too many values to unpack" exception.

---

In [0]:
# Python "star expressions" can be used to address this problem.
# Suppose we have user records that consist of a name and email address, followed by an arbitrary number of phone numbers.
# We could unpack the records like this:
record = ('Mritunjay', 'mj@example.com', '111-222-333', '444-555-666')
name, email, *phone_numbers = record
print('name is: {}'.format(name))
print('email is: {}'.format(email))
print('phone numbers are: {}'.format(phone_numbers))

# phone_numbers variable will always be a list, regardless of how many phone numbers are unpacked (including none).

name is: Mritunjay
email is: mj@example.com
phone numbers are: ['111-222-333', '444-555-666']

In [0]:
# The starred variable can also be the first one in the list.
*trailing, current = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print('trailing: {}'.format(trailing))
print('current: {}'.format(current))

trailing: [1, 2, 3, 4, 5, 6, 7, 8]
current: 9

In [0]:
# Star syntax can be especially useful when iterating over a sequence of tuples of varying length. For Example:
records = [
           ('foo', 1, 2),
           ('bar', 'hello'),
           ('foo', 3, 4)
]

def do_foo(x, y):
  print('foo', x, y)

def do_bar(s):
  print('bar', s)

for tag, *args in records:
  if tag == "foo":
    do_foo(*args)
  elif tag == "bar":
    do_bar(*args)

foo 1 2
bar hello
foo 3 4

In [0]:
# Star unpacking can also be useful when combined with certain kinds of string processing operations, such as splitting. For example:
line = 'mritunjay:*:-2:-2:Admin User:/var/empty:/usr/bin/false'
uname, *fields, homedir, sh = line.split(':')
print('uname: {}'.format(uname))
print('homedir: {}'.format(homedir))
print('sh: {}'.format(sh))

uname: mritunjay
homedir: /var/empty
sh: /usr/bin/false

In [0]:
# Sometimes we want to unpack values and throw them away. We can't just specify a bare * when unpacking, but we could use a common throwaway
# name such as _ or ign(ignored). For example:
record = ('ACME', 50, 91.1, (2012, 12, 21))
name, *_, (*_, day) = record
print('name: {}'.format(name))
print('day: {}'.format(day))

name: ACME
day: 21

In [0]:
# There is a certain similarity between star unpacking and list-processing feature of various functional languages.
# For example, if we have a list, we can easily split it into head and tail components like below:
items = [1, 4, 7, 2, 8, 10, 3]
head, *tail = items
print('head: {}'.format(head))
print('tails: {}'.format(tail))

head: 1
tails: [4, 7, 2, 8, 10, 3]

In [0]:
# we can write a recursive function to get sum of all elements in the list.
def sum(items):
  head, *tails = items
  return head + sum(tails) if tails else head

sum(items)

35

In [0]:
# Before we move on lets understand what is list comprehension, generators and yield
# List comprehension
my_list = [i*i for i in range(3)]
for i in my_list:
  print(i)

0
1
4

In [0]:
# Generators
my_generator = (i*i for i in range(3))
for i in my_generator:
  print(i)

# Generators are iterators, a kind of iterable you can only iterate over once. Generators do not store all the values in memory, 
# they generate the values on the fly.
# It is just the same except you used () instead of []. BUT, you cannot perform for i in my_generator a second time since 
# generators can only be used once: they calculate 0, then forget about it and calculate 1, and end calculating 4, one by one.

0
1
4

In [0]:
# Yield
# yield is a keyword that is used like return, except the function will return a generator.
def create_generator():
  for i in range(3):
    yield i*i

my_generator = create_generator()
print(my_generator)
for i in my_generator:
  print(i)

<generator object create_generator at 0x7f1738887888>
0
1
4

In [0]:
# Let's check if we can call a generator twice
my_generator_1 = create_generator()
print(my_generator_1)

for i in my_generator_1:
  print('i: {}'.format(i))

for j in my_generator_1:
  print('j: {}'.format(j))

# notice that the second (j)loop didn't print anything.

<generator object create_generator at 0x7f1738962e60>
i: 0
i: 1
i: 4

###1.3. Keeping the last N Items

---
#### Q. You want to keep a limited history of the last few items seen during iteration or during some other kind of processing.

---

In [3]:
# Using deque(maxlen=N) creates a fixed sized (N) queue. When new items are added and queue is full oldest item is automatically removed.
from collections import deque
q = deque(maxlen=3)
q.append(1)
q.append(2)
q.append(3)
q

deque([1, 2, 3])

In [4]:
q.append(4)
q

deque([2, 3, 4])

Although we can manually add or delete items from a list, the queue operations are faster.

If we don't mention maximum size we get an unbouned queue which lets us append and pop items on either ends. It has O(1) complexity whereas inserting or removing items from the front of the list is O(N).

In [8]:
q = deque()
q.append(5)
q.append(7)
q.append(6)
print(q)

q.appendleft(10)
print(q)

q.pop()
print(q)

q.popleft()
print(q)

deque([5, 7, 6])
deque([10, 5, 7, 6])
deque([10, 5, 7])
deque([5, 7])

###1.4. Finding the largest or smallest N items

---
####Q. You want to make a list of the largest or smallest N items in a collection.

---

In [9]:
# heapq module has two functions nlargest() and nsmallest() for this kind of operation.
import heapq

item = [1,2,3,4,5,6,7,10,20]

print(heapq.nlargest(3, item))
print(heapq.nsmallest(3, item))

[20, 10, 7]
[1, 2, 3]

In [10]:
# Both these functions also accept a key parameter that allows them to be used with more complex data structures.
profile = [
           {'name':'IBM', 'shares':100, 'price':91.1},
           {'name':'AAPL', 'shares':50, 'price':543.55},
           {'name':'HPQ', 'shares':25, 'price':41.1},
]

cheap = heapq.nsmallest(2, profile, key=lambda s: s['price'])
expensive = heapq.nlargest(2, profile, key=lambda s: s['price'])

print(cheap)
print(expensive)

[{'name': 'HPQ', 'shares': 25, 'price': 41.1}, {'name': 'IBM', 'shares': 100, 'price': 91.1}]
[{'name': 'AAPL', 'shares': 50, 'price': 543.55}, {'name': 'IBM', 'shares': 100, 'price': 91.1}]

In [18]:
# internally it works by converting the data into a list where items are ordered as a heap.
nums = [-20, 1, 6, 3, 7, 8, 9, 11, -3, 21]
heap = list(nums)
heapq.heapify(heap)

print(heap)

print(heapq.heappop(heap))
print(heap)
print(heapq.heappop(heap))
print(heap)

# The most important feature of a heap is that heap[0] is always smallest item. Hence subsequent items can be found using heapq.heappop() method, 
# which pops off the first item and replaces it with next smallest item. This requires O(log N) operations where N = heap size.

# nlargest() and nsmallest() functions are most appropriate when you are trying to find small number of items. If you want to find single largest or
# smallest value then it's faster to use max() and min().

# If N is about the same size as the collection itself, It's better to sort the collection first and take a slice. 
# { sorted(items)[:N] or sorted(items)[:-N]

[-20, -3, 6, 1, 7, 8, 9, 11, 3, 21]
-20
[-3, 1, 6, 3, 7, 8, 9, 11, 21]
-3
[1, 3, 6, 11, 7, 8, 9, 21]

###1.5. Implementing a priority queue

---
#### Q. You want to implement a queue that sorts items by a given priority and always returns the item with the highest priority on each pop operation.

---

In [0]:
import heapq
class PriorityQueue:
  def __init__(self):
    self._queue = []
    self._index = 0

  def push(self, item, priority):
    heapq.heappush(self._queue, (-priority, self._index, item))
    self._index += 1
  
  def pop(self):
    return heapq.heappop(self._queue)[-1]

In [0]:
# Let's use the class
class Item:
  def __init__(self, name):
    self.name = name

  def __repr__(self):
    return 'Item({!r})'.format(self.name)

q = PriorityQueue()
q.push(Item('foo'), 1)
q.push(Item('bar'), 5)
q.push(Item('spam'), 4)
q.push(Item('grok'), 1)

In [32]:
q.pop()

Item('bar')

In [33]:
q.pop()

Item('spam')

In [34]:
q.pop()

Item('foo')

In [35]:
q.pop()

# Observe how the first pop() operation returned the item with the highest priority. Also how the two items with same priority were returned 
# in the same order in which they were inserted into queue.

# heapq.heappush() and heapq.heappop() insert and delete items from a list_queue in a way such that the first item in the list has smallest priority.

Item('grok')