<a href="https://colab.research.google.com/github/mkmritunjay/machineLearning/blob/master/DS_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Data Structures and Algorithms

### 1.1. Unpacking a sequence into separate variables

---
#### Q. You have N-element tuple or sequence that you would like to unpack into a collection of N variables.
---

In [1]:
# Any sequence or iterable can be unpacked into variables using a simple assignment operation. The only requirement is that the number of variables
# and structure match the sequence. For Example:
p = (4,5)
x,y = p
print('x is: {}'.format(x))
print('y is: {}'.format(y))

x is: 4
y is: 5

In [2]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]
name, shares, price, date = data
print('name is: {}'.format(name))
print('shares is: {}'.format(shares))
print('price is: {}'.format(price))
print('date is: {}'.format(date))

name is: ACME
shares is: 50
price is: 91.1
date is: (2012, 12, 21)

In [3]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]
name, shares, price, (year, month, day) = data
print('name is: {}'.format(name))
print('shares is: {}'.format(shares))
print('price is: {}'.format(price))
print('year is: {}'.format(year))
print('month is: {}'.format(month))
print('day is: {}'.format(day))

name is: ACME
shares is: 50
price is: 91.1
year is: 2012
month is: 12
day is: 21

In [4]:
# If there is a mismatch in the numbers of elements we will get an error. For example:
p = (4,5)
x,y,z = p

ValueError: ignored

---
Unpacking actually works with any object that happens to be iterable, not just tuples or lists. This includes strings, files, iterators and generators.

---

In [5]:
# Example:
s = 'Hello'
a, b, c, d, e = s
print('a is: {}'.format(a))
print('b is: {}'.format(b))
print('c is: {}'.format(c))
print('d is: {}'.format(d))
print('e is: {}'.format(e))

a is: H
b is: e
c is: l
d is: l
e is: o

---
When unpacking we may sometimes want to discard certain values. Python has no special syntax for this, but we can often just pick a throwaway variable name for it.

---

In [7]:
# Example:
data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]
_, shares, price, _ = data
print('shares is: {}'.format(shares))
print('price is: {}'.format(price))

# We need to make sure that the variable name we pick isn't being used for something else already.

shares is: 50
price is: 91.1

### 1.1. Unpacking Elements from Iterables of Arbitrary Length

---
#### Q. You need to unpack N elements from an iterable, but the iterable may be longer than N elements, causing a "too many values to unpack" exception.

---

In [9]:
# Python "star expressions" can be used to address this problem.
# Suppose we have user records that consist of a name and email address, followed by an arbitrary number of phone numbers.
# We could unpack the records like this:
record = ('Mritunjay', 'mj@example.com', '111-222-333', '444-555-666')
name, email, *phone_numbers = record
print('name is: {}'.format(name))
print('email is: {}'.format(email))
print('phone numbers are: {}'.format(phone_numbers))

# phone_numbers variable will always be a list, regardless of how many phone numbers are unpacked (including none).

name is: Mritunjay
email is: mj@example.com
phone numbers are: ['111-222-333', '444-555-666']

In [10]:
# The starred variable can also be the first one in the list.
*trailing, current = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print('trailing: {}'.format(trailing))
print('current: {}'.format(current))

trailing: [1, 2, 3, 4, 5, 6, 7, 8]
current: 9