<a href="https://colab.research.google.com/github/mkmritunjay/machineLearning/blob/master/GBMRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GBM (Gradient Boosting)

In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.formula.api as sm
import scipy.stats as stats

%matplotlib inline
plt.rcParams['figure.figsize'] = 10, 7.5
plt.rcParams['axes.grid'] = True
plt.gray()

from matplotlib.backends.backend_pdf import PdfPages

from sklearn.model_selection import train_test_split
from sklearn import metrics

from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.metrics import mean_absolute_error, mean_squared_error

import sklearn.tree as dt
import sklearn.ensemble as en

from sklearn import metrics
from sklearn.tree import export_graphviz, export
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor

import pydotplus as pdot
from IPython.display import Image

url = 'https://raw.githubusercontent.com/mkmritunjay/machineLearning/master/Car_sales.csv'

In [34]:
car_sales = pd.read_csv(url)
car_sales.head()

  Manufacturer    Model  ...  Latest_Launch  Power_perf_factor
0        Acura  Integra  ...       2/2/2012          58.280150
1        Acura       TL  ...       6/3/2011          91.370778
2        Acura       CL  ...       1/4/2012                NaN
3        Acura       RL  ...      3/10/2011          91.389779
4         Audi       A4  ...      10/8/2011          62.777639

[5 rows x 16 columns]

In [35]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
Manufacturer              157 non-null object
Model                     157 non-null object
Sales_in_thousands        157 non-null float64
four_year_resale_value    121 non-null float64
Vehicle_type              157 non-null object
Price_in_thousands        155 non-null float64
Engine_size               156 non-null float64
Horsepower                156 non-null float64
Wheelbase                 156 non-null float64
Width                     156 non-null float64
Length                    156 non-null float64
Curb_weight               155 non-null float64
Fuel_capacity             156 non-null float64
Fuel_efficiency           154 non-null float64
Latest_Launch             157 non-null object
Power_perf_factor         155 non-null float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [36]:
car_sales.describe()

       Sales_in_thousands  ...  Power_perf_factor
count          157.000000  ...         155.000000
mean            52.998076  ...          77.043591
std             68.029422  ...          25.142664
min              0.110000  ...          23.276272
25%             14.114000  ...          60.407707
50%             29.450000  ...          72.030917
75%             67.956000  ...          89.414878
max            540.561000  ...         188.144323

[8 rows x 12 columns]

In [37]:
car_sales.dtypes

Manufacturer               object
Model                      object
Sales_in_thousands        float64
four_year_resale_value    float64
Vehicle_type               object
Price_in_thousands        float64
Engine_size               float64
Horsepower                float64
Wheelbase                 float64
Width                     float64
Length                    float64
Curb_weight               float64
Fuel_capacity             float64
Fuel_efficiency           float64
Latest_Launch              object
Power_perf_factor         float64
dtype: object

### Separate numerical and categorical data

In [38]:
# numerical
car_sales_num=car_sales._get_numeric_data()
car_sales_num.head()

   Sales_in_thousands  ...  Power_perf_factor
0              16.919  ...          58.280150
1              39.384  ...          91.370778
2              14.114  ...                NaN
3               8.588  ...          91.389779
4              20.397  ...          62.777639

[5 rows x 12 columns]

In [0]:
# categorical
car_sales_cat=car_sales.select_dtypes(include=['object'])


### Creating Data audit Report

In [0]:
# Use a general function that returns multiple values
def var_summary(x):
    return pd.Series([x.count(), x.isnull().sum(), x.sum(), x.mean(), x.median(),  x.std(), x.var(), x.min(), x.dropna().quantile(0.01), x.dropna().quantile(0.05),x.dropna().quantile(0.10),x.dropna().quantile(0.25),x.dropna().quantile(0.50),x.dropna().quantile(0.75), x.dropna().quantile(0.90),x.dropna().quantile(0.95), x.dropna().quantile(0.99),x.max()], 
                  index=['N', 'NMISS', 'SUM', 'MEAN','MEDIAN', 'STD', 'VAR', 'MIN', 'P1' , 'P5' ,'P10' ,'P25' ,'P50' ,'P75' ,'P90' ,'P95' ,'P99' ,'MAX'])

num_summary=car_sales_num.apply(lambda x: var_summary(x)).T

In [41]:
num_summary

                            N  NMISS  ...         P99         MAX
Sales_in_thousands      157.0    0.0  ...  260.645320  540.561000
four_year_resale_value  121.0   36.0  ...   60.220000   67.550000
Price_in_thousands      155.0    2.0  ...   78.479800   85.500000
Engine_size             156.0    1.0  ...    5.700000    8.000000
Horsepower              156.0    1.0  ...  325.750000  450.000000
Wheelbase               156.0    1.0  ...  134.375000  138.700000
Width                   156.0    1.0  ...   79.190000   79.900000
Length                  156.0    1.0  ...  219.305000  224.500000
Curb_weight             155.0    2.0  ...    5.396680    5.572000
Fuel_capacity           156.0    1.0  ...   30.900000   32.000000
Fuel_efficiency         154.0    3.0  ...   33.000000   45.000000
Power_perf_factor       155.0    2.0  ...  141.119461  188.144323

[12 rows x 18 columns]

In [0]:
def cat_summary(x):
    return pd.Series([x.count(), x.isnull().sum(), x.value_counts()], 
                  index=['N', 'NMISS', 'ColumnsNames'])

cat_summary=car_sales_cat.apply(lambda x: cat_summary(x))

In [43]:
cat_summary

                                                   Manufacturer  ...                                      Latest_Launch
N                                                           157  ...                                                157
NMISS                                                         0  ...                                                  0
ColumnsNames  Dodge         11
Ford          11
Toyota      ...  ...  6/27/2012     2
8/27/2011     2
9/25/2011     ...

[3 rows x 4 columns]

### Handling Outliers

In [0]:
#Handling Outliers - Method
def outlier_capping(x):
    x = x.clip(upper=x.quantile(0.99))
    x = x.clip(lower=x.quantile(0.01))
    return x

car_sales_num=car_sales_num.apply(lambda x: outlier_capping(x))

In [0]:
num_summary = car_sales_num.apply(lambda x: var_summary(x)).T

In [46]:
num_summary

                            N  NMISS  ...         P99         MAX
Sales_in_thousands      157.0    0.0  ...  253.560581  260.645320
four_year_resale_value  121.0   36.0  ...   59.896000   60.220000
Price_in_thousands      155.0    2.0  ...   76.584508   78.479800
Engine_size             156.0    1.0  ...    5.700000    5.700000
Horsepower              156.0    1.0  ...  317.087500  325.750000
Wheelbase               156.0    1.0  ...  132.518750  134.375000
Width                   156.0    1.0  ...   79.140500   79.190000
Length                  156.0    1.0  ...  217.102250  219.305000
Curb_weight             155.0    2.0  ...    5.394693    5.396680
Fuel_capacity           156.0    1.0  ...   30.405000   30.900000
Fuel_efficiency         154.0    3.0  ...   33.000000   33.000000
Power_perf_factor       155.0    2.0  ...  141.109484  141.119461

[12 rows x 18 columns]

### Handling missing values

In [0]:
#Handling missings - Method
def Missing_imputation(x):
    x = x.fillna(x.median())
    return x

car_sales_num=car_sales_num.apply(lambda x: Missing_imputation(x))

In [52]:
num_summary = car_sales_num.apply(lambda x: var_summary(x)).T
num_summary

                            N  NMISS  ...         P99         MAX
Sales_in_thousands      157.0    0.0  ...  253.560581  260.645320
four_year_resale_value  157.0    0.0  ...   59.312800   60.220000
Price_in_thousands      157.0    0.0  ...   76.514312   78.479800
Engine_size             157.0    0.0  ...    5.700000    5.700000
Horsepower              157.0    0.0  ...  316.930000  325.750000
Wheelbase               157.0    0.0  ...  132.485000  134.375000
Width                   157.0    0.0  ...   79.139600   79.190000
Length                  157.0    0.0  ...  217.062200  219.305000
Curb_weight             157.0    0.0  ...    5.394619    5.396680
Fuel_capacity           157.0    0.0  ...   30.396000   30.900000
Fuel_efficiency         157.0    0.0  ...   33.000000   33.000000
Power_perf_factor       157.0    0.0  ...  141.109114  141.119461

[12 rows x 18 columns]

### Handling Categorical Variables

scikit-learn expects all features to be numeric. So how do we include a categorical feature in our model?

- **Ordered categories:** transform them to sensible numeric values (example: small=1, medium=2, large=3)
- **Unordered categories:** use dummy encoding (0/1)

What are the categorical features in our dataset?

- **Ordered categories:** weather (already encoded with sensible numeric values)
- **Unordered categories:** season (needs dummy encoding), holiday (already dummy encoded), workingday (already dummy encoded)

For season, we can't simply leave the encoding as 1 = spring, 2 = summer, 3 = fall, and 4 = winter, because that would imply an **ordered relationship**. Instead, we create **multiple dummy variables:**

In [0]:
# A utility function to create dummy variable
def create_dummies( df, colname ):
    col_dummies = pd.get_dummies(df[colname], prefix=colname)
    col_dummies.drop(col_dummies.columns[0], axis=1, inplace=True)
    df = pd.concat([df, col_dummies], axis=1)
    df.drop( colname, axis = 1, inplace = True )
    return df

In [54]:
#for c_feature in categorical_features
car_sales_cat=car_sales[['Manufacturer', 'Vehicle_type']]

for c_feature in ['Manufacturer', 'Vehicle_type']:
    car_sales_cat[c_feature] = car_sales_cat[c_feature].astype('category')
    car_sales_cat = create_dummies(car_sales_cat , c_feature )

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [55]:
car_sales_cat.head()

   Manufacturer_Audi  ...  Vehicle_type_Passenger
0                  0  ...                       1
1                  0  ...                       1
2                  0  ...                       1
3                  0  ...                       1
4                  1  ...                       1

[5 rows x 30 columns]

In [0]:
# concat both numerical and categorical variables
X = pd.concat([car_sales_num, car_sales_cat], axis=1)

In [0]:
features = X.columns.difference(['Sales_in_thousands'])

In [58]:
features

Index(['Curb_weight', 'Engine_size', 'Fuel_capacity', 'Fuel_efficiency',
       'Horsepower', 'Length', 'Manufacturer_Audi', 'Manufacturer_BMW',
       'Manufacturer_Buick', 'Manufacturer_Cadillac', 'Manufacturer_Chevrolet',
       'Manufacturer_Chrysler', 'Manufacturer_Dodge', 'Manufacturer_Ford',
       'Manufacturer_Honda', 'Manufacturer_Hyundai', 'Manufacturer_Infiniti',
       'Manufacturer_Jaguar', 'Manufacturer_Jeep', 'Manufacturer_Lexus',
       'Manufacturer_Lincoln', 'Manufacturer_Mercedes-B',
       'Manufacturer_Mercury', 'Manufacturer_Mitsubishi',
       'Manufacturer_Nissan', 'Manufacturer_Oldsmobile',
       'Manufacturer_Plymouth', 'Manufacturer_Pontiac', 'Manufacturer_Porsche',
       'Manufacturer_Saab', 'Manufacturer_Saturn', 'Manufacturer_Subaru',
       'Manufacturer_Toyota', 'Manufacturer_Volkswagen', 'Manufacturer_Volvo',
       'Power_perf_factor', 'Price_in_thousands', 'Vehicle_type_Passenger',
       'Wheelbase', 'Width', 'four_year_resale_value'],
      dtype='object')

In [0]:
X.dropna(inplace=True)

### Train Test Split

In [0]:
train_X, test_X, train_y, test_y = train_test_split( X[features],
                                                  X['Sales_in_thousands'],
                                                  test_size = 0.3,
                                                  random_state = 142 )

### Building the model

In [70]:
gbm = GradientBoostingRegressor(learning_rate=0.1, n_estimators=800)
gbm.fit(train_X, train_y)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=800,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [0]:
pred = gbm.predict(train_X)

In [73]:
print('MAE:', metrics.mean_absolute_error(train_y, pred))
print('MSE:', metrics.mean_squared_error(train_y, pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(train_y, pred)))
print('R-Squre:', metrics.r2_score(train_y, pred))

MAE: 0.015152002551418334
MSE: 0.00038448972995437175
RMSE: 0.019608409674279344
R-Squre: 0.9999998869508663

In [0]:
pred_test = gbm.predict(test_X)

In [76]:
print('MAE:', metrics.mean_absolute_error(test_y, pred_test))
print('MSE:', metrics.mean_squared_error(test_y, pred_test))
print('RMSE:', np.sqrt(metrics.mean_squared_error(test_y, pred_test)))
print('R-Squre:', metrics.r2_score(test_y, pred_test))

MAE: 35.882084890510434
MSE: 3097.6558559177756
RMSE: 55.65658861193143
R-Squre: -0.0051012859200740834

### Decile Analysis

In [0]:
train_X['pred_train'] = gbm.predict(train_X)
test_X['pred_test'] = gbm.predict(test_X)
train_X['Y'] = train_y

train_X['Deciles']=pd.qcut(train_X['pred_train'],10, labels=False)
test_X['Deciles']=pd.qcut(test_X['pred_test'],10, labels=False)

In [78]:
train_X[['Deciles','Y', 'pred_train']].groupby(train_X.Deciles).mean()

         Deciles           Y  pred_train
Deciles
0              0    2.902753    2.908215
1              1    9.121273    9.124577
2              2   14.668636   14.686374
3              3   19.399091   19.398287
4              4   25.883727   25.888041
5              5   32.621400   32.614895
6              6   50.385909   50.389443
7              7   74.647545   74.644963
8              8  100.634273  100.619424
9              9  196.850665  196.840463

In [79]:
test_X['Y'] = test_y
test_X[['Deciles','Y', 'pred_test']].groupby(test_X.Deciles).mean()

         Deciles           Y   pred_test
Deciles
0              0   14.547200  -12.158163
1              1   69.415600   11.724058
2              2   19.027256   17.590052
3              3   19.768000   23.420825
4              4   35.658200   26.729913
5              5   23.937200   34.147215
6              6   42.991250   38.100002
7              7   40.696800   44.698104
8              8   71.878800   71.820647
9              9  126.608064  142.806604