<a href="https://colab.research.google.com/github/mkmritunjay/machineLearning/blob/master/linearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
url = 'https://raw.githubusercontent.com/mkmritunjay/machineLearning/master/Car_sales.csv'
df = pd.read_csv(url, index_col=0)

In [7]:
df.head(10)

                Model  Sales_in_thousands  ...  Latest_Launch Power_perf_factor
Manufacturer                               ...
Acura         Integra              16.919  ...       2/2/2012         58.280150
Acura              TL              39.384  ...       6/3/2011         91.370778
Acura              CL              14.114  ...       1/4/2012               NaN
Acura              RL               8.588  ...      3/10/2011         91.389779
Audi               A4              20.397  ...      10/8/2011         62.777639
Audi               A6              18.780  ...       8/9/2011         84.565105
Audi               A8               1.380  ...      2/27/2012        134.656858
BMW              323i              19.747  ...      6/28/2011         71.191207
BMW              328i               9.231  ...      1/29/2012         81.877069
BMW              528i              17.527  ...       4/4/2011         83.998724

[10 rows x 15 columns]