<a href="https://colab.research.google.com/github/mkmritunjay/machineLearning/blob/master/pythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python3 Tutorial

## Introduction
Python is a high-level, interpreted, interactive and object-oriented scripting language. It was developed in 1991 by Guido van Rossum at the National Research Institute for Mathematics and Computer Science in the Netherlands.

Python is highly readable and relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose. There are two python versions available: python 2 and python 3. For this tutorial we shall be using python 3 which is backward incompatible.

This tutorial doesn’t include the basic python setup and usage. Please refer official python 3 [site](https://docs.python.org/3/tutorial/) for setup details.

### Python indentation example:

In [ ]:
# Indentation in python is used to define a block of code like below if else loop
if 3 > 2:
  print("Indentation tested successfully!")

Indentation tested successfully!

However if you miss the identation python will give you error.

## python variables

Basically creating a variable means reserving space in memory, so variables are reserved memory spaces to store values.

### Assigning value to variable:
Unlike other programming languages, In python we don’t have to specify data types while creating a variable. Data type gets assigned to a variable based on the value provided.

For Example:

In [ ]:
num_v = 1 # deifining an integer variable
string_v = 'hello' # defining a string variable
float_v = 1.0 # defining a float variable

In [ ]:
print(type(num_v))
print(type(string_v))
print(type(float_v))

<class 'int'>
<class 'str'>
<class 'float'>

### Multiple Assignment:
Python allows us to assign a single value to several variables simultaneously.

For example:

In [ ]:
first, second, third = 100, 200, 300 # assigning same value to multiple variables
print('variables with same value:')
print(first)
print(second)
print(third)

# You can also assign multiple values to multiple variables.

fourth, fifth, sixth = 100, '200_string', 300.0 # assigning multiple value to multiple variables
print('\nvariables with different value:')
print(fourth)
print(fifth)
print(sixth)

variables with same value:
100
200
300

variables with different value:
100
200_string
300.0

### python data types

Mainly there are two kind of data types available in python.

* Numbers and,
* Strings


#### 1. Numbers

Numbers could be of three types- (integer, float and complex).

As similar to most other languages, on numbers operators like +, -, * and / can be applied.

In [ ]:
print('basic operators: ')
print(1+1)
print(2-1)
print(2*2)
print(4/2) # division always returns float value

# parenthesis can be used for grouping.
print('grouping:')
print((10-4)/3)

# to discard the floating part, you can use floor division '//'
print('floor division:') 
print(4//2)

# use % operator to fetch remainder of the division
print('remainder:')
print(7/3)

# '**' operator is used to calculate power
print('calculate power:')
print(5 ** 2)

basic operators:
2
1
4
2.0
grouping:
2.0
floor division:
2
remainder:
2.3333333333333335
calculate power:
25

#### 2. Strings
Strings can be created by enclosing characters in quotes.

In [ ]:
first_str = 'single quoted string'
second_str = "double quoted string"
third_str = '''triple quoted string'''

print(first_str)
print(second_str)
print(third_str)

# combining strings and numbers using format() method

int_variable = 100
str_variable = "10*10 is: {}"
print(str_variable.format(int_variable))

single quoted string
double quoted string
triple quoted string
10*10 is: 100

## Control flow tools

### If statements:

An if statement can be written by using if , elif and else keywords.

For Example:

In [ ]:
a = 10
b = 20

# pay attention to indentation used
if a>b:
  print('a is greater.')
elif a<b:
  print('b is greater')  
else:
  print('a and b are equal.')

b is greater

#### for statements:

To iterate over a sequence we use for loop. This sequence could be either a list, a tuple, a dictionary, a set, or a string.

For Example:

In [ ]:
list_itr = ['a','b','c','d']
print('iterating over a list:')
for i in list_itr:    # iterating over a list
  print(i)
  
print('iterating over a slice of list')
for i in list_itr[0:2]:    # iterating over a slice of list
  print(i)
  
print('iterating using range function:')
for i in range(0,5):
  print(i)

iterating over a list:
a
b
c
d
iterating over a slice of list
a
b
iterating using range function:
0
1
2
3
4

## Python object oriented programming


### Creating a class and object

In [ ]:
class Student:
  
  raise_perc = 1.05
  
  def __init__(self, firstName, lastName, fee):
    self.firstName = firstName
    self.lastName = lastName
    self.fee = fee
    self.email = firstName + '.' + lastName + '@mj.com'
    
  def full_name(self):
    return '{} {}'.format(self.firstName, self.lastName)
  
  def raise_fee(self):
    self.pay = int(self.fee * self.raise_perc)
    
student1 = Student('mritunjay', 'kumar', 100)
student2 = Student('machine', 'learning', 200)

print("email: " + student1.email)
print("email: " + student2.email)

# print full name using objects
print("full name: " + student1.full_name())
print("full name: " + student2.full_name())

# print full name using class name and by passing objects as parameters
print("full name with class: " + Student.full_name(student1))
print("full name with class: " + Student.full_name(student2))

# print fee raised using objects
print("Fee before raise: {}".format(student1.fee))
student1.raise_fee()
print("Fee after raise: {}".format(student1.fee))

print("Fee before raise: {}".format(student2.fee))
student2.raise_fee()
print("Fee after raise: {}".format(student2.fee))

email: mritunjay.kumar@mj.com
email: machine.learning@mj.com
full name: mritunjay kumar
full name: machine learning
full name with class: mritunjay kumar
full name with class: machine learning
Fee before raise: 100
Fee after raise: 100
Fee before raise: 200
Fee after raise: 200